NEXT_PUBLIC_APPWRITE_ENDPOINT=""
NEXT_PUBLIC_APPWRITE_PROJECT_ID=""
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=""
NEXT_PUBLIC_APPWRITE_DATABASE_ID=""
NEXT_PUBLIC_APPWRITE_USERS_TABLE_ID=""
NEXT_PUBLIC_APPWRITE_FILES_TABLE_ID=""
NEXT_PUBLIC_APPWRITE_BUCKET_ID=""
NEXT_APPWRITE_SECRET_KEY=""